<style type="text/css">

        .textDesc{
            position: relative;
            height: 40%;
            width: 100%;
            background-color: #e3e3e3;
            padding: 5% 0;
            text-align: center;
            font-size: x-large;
        }

        .RecipesDisplay{
            position: relative;
            height: 200%;
            width: 100%;
            background-color: #e3e3e3;
            padding: 50px;
            font-size: x-large;
        }

        .picDesc1{
            background-image: url("https://images.pexels.com/photos/3850838/pexels-photo-3850838.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
            min-height: 90%;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
            font-size: x-large;
        }

        .picDesc2{
            background-image: url("https://images.pexels.com/photos/3893682/pexels-photo-3893682.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
            min-height: 500px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
            font-size: x-large;
        }

        .caption {
             padding: 15% 0;
              text-align: center;
        }


        .buttonBorder{
            color: white;
            border-style:solid;
            border-color:white;
            width: fit-content;
            padding: 10px;
            border-radius: 5px;
            margin: 0 auto;
            background-color: rgba(0, 0, 0, 0.3);
        }


</style>

{% extends "base.html" %}

{% block title %}
    HomeChef
{% endblock %}

{% block body_header %}

{% endblock %}

{% block body_block %}
    <body id="bootstrap-overrides">
    <div class = "picDesc1">
        <div class = "caption">
            <h1 class = "display-1 text-center">Home<span style="font-weight: bold">Chef</span></h1>
            <p class = "text-center" >The place to find real home-made food cooked by home chefs.</p>
            <a href="#"><p class = "buttonBorder">Learn More</p></a>
        </div>
    </div>


    <div class = "textDesc">
        <h1 class = "display-4 text-center">What's HomeChef?</h1>
         <p class = "text-center" >Home Chef is targeted towards a wide range of customers. From the people looking for cheap homemade food,<br> meal preps to food enthusiasts looking to purchase that specific dessert from their favourite home cook they found on instagram.
</p>
    </div>

    <div class = "picDesc2">
        <div class = "caption">
        <h1 class = "display-4 text-center">Eat fresh, eat healthy.</h1>
        </div>
    </div>


     <div class = "RecipesDisplay">
        <h1 class = "display-4 text-center">Delicious food made with love</h1>
         <p class = "text-center" >So, why did we think of starting HomeChef? <br> Inspired by marketplace on social medias, we realize it's a great idea to let people share their best homemade food with people online.
         <br> As COVID-19 hits, many people stay home, and the chance for people to at home has dramatically increased.
             <br> Ordering restaurants takeout daily not the best for one's health. So why not order fresh and healthy home-made food?
         </p>

     </div>




</body>
{% endblock %}
