{% extends "base.html" %}
{% block title %}
    My Cart
{% endblock %}

{% block body_block %}

<style type="text/css">
    .pic1{
            background-image: url("https://images.pexels.com/photos/6546180/pexels-photo-6546180.jpeg?cs=srgb&dl=pexels-larissa-deruzzi-6546180.jpg&fm=jpg");
            min-height: 90%;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
        }

        .Title{
            color: white;
            padding-top: 2%;
            padding-left: 10%;
            padding-right: 10%;
            text-align: center;
            font-size: x-large;
    }

</style>

<body class="pic1">
  <div class="w-75 mx-auto">
      <div class = "Title">
            <h1 class = "display-4">Your Cart</h1>
    </div>
      <table class="table table-dark m-3">
        <thead>
          <tr>
            {% for header in headings %}
              <th>{{ header }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in data %}
          <tr>
            {% for cell in row %}
              <td>{{ cell }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
          <tr>
            <td></td>
            <td>TOTAL:</td>
            <td>{{ total }}</td>
          </tr>
        </tbody>
      </table>

    <form method="POST" action="">
      <input type="submit" class="btn btn-primary ml-3"  name="btn" value="Clear">
      <input class="btn btnCreateAccount btn-primary float-right" name="btn" value="Checkout" type="submit">
<!--      <button class="btn btnCreateAccount btn-primary float-right" name="checkout" value="Checkout" type="submit">Checkout</button>-->
    </form>

  </div>
</body>



{% endblock %}