{% extends "base.html" %}
{% block title %}
    Purchase History
{% endblock %}

{% block body_block %}

<style type="text/css">
    .pic1{
            background-image: url("https://images.pexels.com/photos/5966630/pexels-photo-5966630.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
            min-height: 90%;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
        }
    .Title{
        padding-top: 2%;
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
        font-size: x-large;
    }
    .subTitle{
        padding-top: 1%;
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
        font-size: medium;
    }
    .pickupDiv{
        background-color: #e3e3e3;
        color: black;
        border-radius: 5px;
    }
</style>

<script>
    // <option id="burnaby" value="Burnaby">Burnaby</option>
    //                                 <option id="nw" value="North/west vancouver">North/ West Vancouver</option>
    //                                 <option id="richmond" value="Richmond">Richmond</option>
    //                                 <option id="surrey" value="Surrey">Surrey</option>
    //                                 <option id="tri" value="Tri-city">Tri-city</option>
    //                                 <option id="vancouver" value="Vancouver">Vancouver</option>
    function showPickup(p){
        value = p.value;
        p = document.getElementById("pickupPoint")
        if(value === "Burnaby"){
            p.innerHTML = "Metrotown Station"
        }
        else if(value === "North/ west Vancouver"){
            p.innerHTML = "Lonsdale Quay"
        }
        else if(value === "Richmond"){
            p.innerHTML = "Aberdeen Center"
        }
        else if(value === "Surrey"){
            p.innerHTML = "King George Station"
        }
        else if(value === "Tri-city"){
            p.innerHTML = "Coquitlam Center Station"
        }
        else if(value === "Vancouver"){
            p.innerHTML = "Waterfront Station"
        }
    }
</script>

<body class="pic1">
    <div class = "Title">
        <h1 class = "display-3">Checkout</h1>
    </div>

<!--    display order confirmation here-->
    <div class="w-50 mx-auto">
        <h3>Please confirm your order: </h3>
      <table class="table table-sm bg-white m-3">
        <thead class="thead-light">
          <tr>
            {% for header in headings %}
              <th>{{ header }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>

          {% for row in data %}
          <tr>
            {% for cell in row %}
              <td>{{ cell }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
            <tr>
                <td></td>
                <td>TOTAL:</td>
                <td>{{ total }}</td>
            </tr>
        </tbody>
      </table>
  </div>

    <div class = "subTitle">
        <h1 class = "display-6">Pick Up Information:</h1>
    </div>

    <div class="d-flex justify-content-around align-items-center">
            <div class="w-40 m-3">
                <form method = "POST" action = "">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default1" >Payment Method: </span>
                        </div>
<!--                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name = "pmethod" id=invalidCheck2" required>-->
                            <select id="payMethods" name="pmethod">
                                    <option value="Credit card">Credit card</option>
                                    <option value="Debit card">Debit card</option>
                                    <option value="Cash">Cash</option>

                            </select>
                    </div>


                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default2">Contact Info: </span>
                        </div>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name = "contactinfo" id=invalidCheck2" required>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default" name = "region">Region</span>
                        </div>
                            <select id="regionSelect" name="region" onchange="showPickup(this)">
                                    <option id="burnaby" value="Burnaby">Burnaby</option>
                                    <option id="nw" value="North/ west Vancouver">North/ West Vancouver</option>
                                    <option id="richmond" value="Richmond">Richmond</option>
                                    <option id="surrey" value="Surrey">Surrey</option>
                                    <option id="tri" value="Tri-city">Tri-city</option>
                                    <option id="vancouver" value="Vancouver">Vancouver</option>
                            </select>
                        </div>



                    <div id="pickupPointdiv" class="pickupDiv p-2">
                        <p class="m-0">Pick up point: <span id="pickupPoint">Metrotown Station</span></p>
                        <p class="m-0">Seller: <span id="seller">{{ seller[0] }} {{ seller[1] }}</span></p>
                    </div>

                    <div class="input-group my-2">
                        <span class="input-group-text">Pick up date </span>
                        <input type="datetime-local" name="date">
                    </div>

                        <button class="btn btnCreateAccount btn-info" type="submit" >Make Order!</button>

                </form>

            </div>
        </div>
</body>
{% endblock %}