{% extends "base.html" %}
{% block title %}
    Purchase History
{% endblock %}

{% block body_block %}

<style type="text/css">
    .pic1{
            background-image: url("https://images.pexels.com/photos/3779937/pexels-photo-3779937.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
            min-height: 90%;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
        }
    .Title{
        padding-top: 8%;
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
        font-size: x-large;
    }
</style>

<body class="pic1">
    <div class = "Title">
        <h1 class = "display-4">Purchase History</h1>
    </div>
    <div class = "Title">
        <h1 class = "display-4">{{orderID[0][0]}}</h1>
    </div>

    <div class="w-75 mx-auto">
      <table class="table m-3">
        <thead class="thead-light">
          <tr>
            {% for header in headings %}
              <th>{{ header }}</th>
            {% endfor %}
          </tr>
        </thead>

        <tbody>
    <tr>
      <th scope="row">{{orderID[0][0]}}</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
      </table>
  </div>
</body>
{% endblock %}