<style type="text/css">
    .posts{
        padding-left: 10%;
        padding-right: 10%;
    }

</style>

{% extends "base.html" %}

{% block title %}
    HomeChef
{% endblock %}

{% block body_header %}

{% endblock %}

{% block body_block %}
    <h1 class="fw-bold" style="text-align: center">Feed</h1>

    <div class = "posts">
     <div class="row no-gutters bg-light position-relative">
          <div class="col-md-6 mb-md-0 p-md-4">
            <img src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="w-100" alt="...">
          </div>
          <div class="col-md-6 position-static p-4 pl-md-0">
            <h5 class="mt-0">Fluffy Caramel Pancake</h5>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
            <a href="#" class="stretched-link">Go somewhere</a>
          </div>
        </div>

         <div class="row no-gutters bg-light position-relative">
          <div class="col-md-6 mb-md-0 p-md-4">
            <img src="https://images.pexels.com/photos/539451/pexels-photo-539451.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="w-100" alt="...">
          </div>

          <div class="col-md-6 position-static p-4 pl-md-0">
            <h5 class="mt-0">Home Made Pumpkin Soup</h5>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
            <a href="#" class="stretched-link">Go somewhere</a>
          </div>
        </div>
    </div>

{% endblock %}
