{% extends "base.html" %}
{% block title %}
    Notification
{% endblock %}

{% block body_block %}

<style type="text/css">
    .pic1{
            background-image: url("https://images.pexels.com/photos/239581/pexels-photo-239581.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
            min-height: 90%;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
        }

        .Title{
        padding-top: 8%;
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
        font-size: x-large;
    }
</style>

<

<body class="pic1">
    <div class = "Title">
            <h1 class = "display-4">Orders Received</h1>
    </div>

    <div class="w-75 mx-auto">
          <table class="table table-hover bg-white m-3">
            <thead class="thead-light">
              <tr>
                {% for header in headings %}
                  <th>{{ header }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
                    {%for order in orderInfo%}
                    <tr>
                      <th scope="row">{{ order[0]}}</th>
                      <td>{{ order[7]}}</td>
                      <td>{{ order[4]}}</td>
                      <td>
                          {% for food in orderInfo %}
                              {% if food[0] == order[0] %}
                                  {{ food[11]}} Orders of {{food[10] }}
                              {% endif %}
                          {% endfor %}
                      </td>
                      <td>${{ order[1]}} by {{ order[2]}}</td>
                      <td>{{ order[6] }}</td>
                      <td>{{ order[3]}}</td>
                      <td>{{ order[5]}}</td>
                      <td><button type="button" class="btn btn-outline-success">Accept</button></td>

                    {% endfor %}
            </tbody>
          </table>
    </div>


    </body>
{% endblock %}