<style type="text/css">
    .posts{
        padding-left: 10%;
        padding-right: 10%;
    }

</style>

{% extends "base.html" %}
{% block title %}
    Share Your Recipe
{% endblock %}

{% block body_block %}

<body style="background-color: #e3e3e3">
    <h1 class="fw-bold" style="text-align: center">Create a New Recipe</h1>
    <form class = "posts" method = "POST" action = "">
        <div class="row no-gutters bg-light position-relative">
          <div class="col-md-6 mb-md-0 p-md-4">

          <div class="row">
            <div class="col-sm-1">
              <img src="{{img_url}}" class="rounded-circle" alt="..." width="70" height="70"
               style = "margin-right: 15px">
            </div>
            <div class="col-sm-6 pl-4">
              <h2>
                  <input type="text" class="form-control-plaintext mt-0" aria-label="Sizing example input"
                     aria-describedby="inputGroup-sizing-default" name = "food-name" placeholder="Food Name"
                     required>
              </h2>
            </div>
            <div class="col pt-4">
              <figcaption class="blockquote-footer" style = "display: inline; font-size: large" >Recipe by
                  <cite title="Source Title">{{ first_name}} {{ last_name }}</cite></figcaption>
            </div>
          </div>
          <h5 style="text-align: right">Overall Rating: No Ratings!</h5>
          <img src="https://www.clipartmax.com/png/full/92-925246_window-cleaning-placeholder-icon-png.png"
               style = "margin-top: 15px" class="w-100 rounded" alt="..." >

          </div>
          <div class="col-md-6 position-static p-4 pl-md-0">
            <h5 class="mt-0">Description</h5>
            <textarea type="text" class="form-control-plaintext form-control" name = "description"
                 rows="5" placeholder="Write food description here!" required></textarea>
            <h5 class="mt-0">Ingredients</h5>
                <input type="text" class="form-control-plaintext" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default" name = "ingredients" id=invalidCheck2"
                   placeholder="Ingredient1, Ingredient2, ... All ingredients should be comma separated!" required>

                <p></p>
              <br><h5 class="mt-0">Tags</h5>
              <div style="margin-top: 25px; margin-bottom: 25px">
{#                {% if food[4] == 0%}#}
{#                    <div class="alert alert-danger" role="alert" style="width: 20%; text-align: center; display: inline">Not Available</div>#}
{#                {% endif %}#}
{#                {% if food[4] == 1%}#}
{#                    <div class="alert alert-warning" role="alert" style="width: 20%; text-align: center; display: inline">Available</div>#}
{#                {% endif %}#}
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Available</a>
                    <a class="dropdown-item" href="#">Not Available</a>
                </div>
              </div>
              <h5 class="mt-0">Available Dates</h5>
              <table class="table calendar" id="food-table">
                  <thead>
                    <tr>
                        <th scope="col" >Sun</th>
                        <th scope="col">Mon</th>
                        <th scope="col">Tues</th>
                        <th scope="col">Wed</th>
                        <th scope="col">Thurs</th>
                        <th scope="col">Fri</th>
                        <th scope="col">Sat</th>
                    </tr>
                  </thead>
                  <tbody>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                  </tbody>
                </table>

              <div align="center">
{#                {% if true%}#}
{#                  <form method="POST" action="">#}
{#                      <input type="text" name="data" value="" style="visibility: hidden"><br>#}
{#                      <button type="submit" class="btn btn-warning" >Add to cart</button>#}
{#                      <input type="number" placeholder="quantity" name="datanum">#}
{#                  </form>#}
{#                      <!--<button class="btn btn-warning"> <a href="/my-link/">add to cart {{ food[2] }}</a></button>-->#}
{#                {% endif %}#}

                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                  <input type="radio" class="btn-check" name="availability" id="btnradio1" value="1" autocomplete="off" checked>
                  <label class="btn btn-success" for="btnradio1">Available</label>
                  <input type="radio" class="btn-check" name="availability" id="btnradio2" value="0" autocomplete="off">
                  <label class="btn btn-danger" for="btnradio2">Not Available</label>
                </div>

                  <input type="text" class="form-control-plaintext mt-0" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" name = "food-price"
                placeholder="Enter the food price here!" required>

                <input type="text" class="form-control-plaintext mt-0" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" name = "food-img-url"
                placeholder="Enter the image url here!" required>

                <button type="submit" class="btn btn-primary">Post</button>

              </div>
          </div>
        </div> <br>

    </form>
</body>
{% endblock %}