<style type="text/css">
    .bg{
            background-image: url("https://images.pexels.com/photos/4021973/pexels-photo-4021973.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
            min-height: 90%;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
    }

    .posts{
        padding-left: 10%;
        padding-right: 10%;
    }

</style>

{% extends "base.html" %}
{% block title %}
    Share Your Recipe
{% endblock %}

{% block body_block %}

<body class = "bg">
    <h1 class="fw-bold" style="text-align: center">Create a New Recipe</h1>
    <form class = "posts" method = "POST" action = "">
        <div class="row no-gutters bg-light position-relative">
          <div class="col-md-6 mb-md-0 p-md-4">

          <div class="row">
            <div class="col-sm-1">
              <img src="{{img_url}}" class="rounded-circle" alt="..." width="70" height="70"
               style = "margin-right: 15px">
            </div>
            <div class="col-sm-6 pl-4">
              <h2>
                  <input type="text" class="form-control-plaintext mt-0" aria-label="Sizing example input"
                     aria-describedby="inputGroup-sizing-default" name = "food-name" placeholder="Food Name"
                     required>
              </h2>
            </div>
            <div class="col pt-4">
              <figcaption class="blockquote-footer" style = "display: inline; font-size: large" >Recipe by
                  <cite title="Source Title">{{ first_name}} {{ last_name }}</cite></figcaption>
            </div>
          </div>
          <h5 style="text-align: right">Overall Rating: No Ratings!</h5>
          <img src="https://www.clipartmax.com/png/full/92-925246_window-cleaning-placeholder-icon-png.png"
               style = "margin-top: 15px" class="w-100 rounded" alt="..." >

          </div>
          <div class="col-md-6 position-static p-4 pl-md-0">
            <h5 class="mt-0">Description</h5>
            <textarea type="text" class="form-control-plaintext form-control" name = "description"
                 rows="3" placeholder="Write food description here!" required></textarea>
            <h5 class="mt-0">Ingredients</h5>
                <input type="text" class="form-control-plaintext" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default" name = "ingredients" id=invalidCheck2"
                   placeholder="Ingredient1, Ingredient2, ... All ingredients should be comma separated!" required>
            <h5 class="mt-0">Instructions</h5>
            <textarea type="text" class="form-control-plaintext form-control" name = "instructions"
                 rows="5" placeholder="Write food Instructions here!" required></textarea>
              <br><h5 class="mt-0">Tags</h5>


              <div align="center">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                  <input type="radio" class="btn-check" name="availability" id="btnradio1" value="1" autocomplete="off" checked>
                  <label class="btn btn-success" for="btnradio1">Available</label>
                  <input type="radio" class="btn-check" name="availability" id="btnradio2" value="0" autocomplete="off">
                  <label class="btn btn-danger" for="btnradio2">Not Available</label>
                </div>

                <input type="text" class="form-control-plaintext mt-0" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" name = "food-price"
                    placeholder="Enter the food price here!" required>

                <input type="text" class="form-control-plaintext mt-0" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" name = "food-img-url"
                    placeholder="Enter the image url here!" required>

                <button type="submit" class="btn btn-primary">Post</button>

              </div>
          </div>
        </div> <br>

    </form>
</body>
{% endblock %}