{% extends "base.html" %}
{% block title %}
    Reviews
{% endblock %}

{% block body_block %}

<style type="text/css">
    .pic1{
            background-image: url("https://images.pexels.com/photos/4664463/pexels-photo-4664463.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
            min-height: 90%;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
        }
    .Title{
        padding-top: 2%;
        padding-left: 10%;
        padding-right: 10%;
        text-align: left;
        font-size: x-large;
    }
</style>

<body class="pic1">
    <div class = "Title">
        <h1 class = "display-3">Write a Review: </h1>
    </div>
    {% for food in foods %}
        {% if food[0] not in reviewed %}
            <div class = "Title">
                <h3 class = "display-6 ml-5">{{food[1]}}</h3>
                <form method="POST" action="">
                    <div class="form-group col-md-4 ml-5 mt-4">
                      <select id="sellerRate" name="sellerRate" class="form-control">
                        <option selected>10</option>
                        <option>9</option>
                        <option>8</option>
                        <option>7</option>
                        <option>6</option>
                        <option>5</option>
                        <option>4</option>
                        <option>3</option>
                        <option>2</option>
                        <option>1</option>
                      </select>
                        <small id="rateHelp" >
                          Rate out of 10.
                        </small>
                    </div>

                    <h3 class = "display-6 ml-5 mt-4">Leave a review for:</h3>
                    <div class="form-group ml-5 mt-3">
                        <textarea class="form-control" id="review" rows="3" name="review" placeholder="Write your review here!" required></textarea>
                    </div>
                    <input type="text" name="food" value="{{ food[0] }}" style="visibility: hidden"><br>

                    <button type="submit" class="btn btn-primary ml-5">Submit Review</button>
                </form>
            </div>
        {% endif %}
    {% endfor %}


    <div class = "Title mb-5 pb-4">
        <h1 class = "display-3">Your Reviews: </h1>
        {% for r in reviews %}
            {% if r[2] in reviewed %}
                <div class = "Title mb-4">
                    <h2 class = "display-6">{{r[5]}}: {{r[3]}}/10</h2>
                    <small class = "display-6 ">{{r[4]}}</small>
                </div>
            {% endif %}
        {% endfor %}
    </div>

</body>

{% endblock %}